---
import CallToAction from '../../components/widgets/CallToAction.astro';
import Content from '../../components/widgets/Content.astro';
import Features2 from '../../components/widgets/Features2.astro';
import Hero from '../../components/widgets/Hero.astro';
import Testimonials from '../../components/widgets/Testimonials.astro';
import Layout from '../../layouts/PageLayout.astro';
import type { IconifyJSON, IconifyInfo, IconifyMetaData, IconifyChars } from '@iconify/types';
import {IconifyJSON} from "@iconify-json/flat-color-icons";

const metadata = {
  title: 'Student Meetup',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Attend"
    title="Student Meetup"
    subtitle="A welcoming event for students to meet peers, exchange ideas, and build lasting professional connections within the IWAENC community."
    actions={[
      { text: 'Sign-up here!', href: 'https://forms.office.com/e/FNgnsHPTAm' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'h. 1:00 PM - 3:00 PM - Student Networking Event',
        description:
          'Are you a student attending IWAENC? Join the Student Meetup, a dedicated networking event designed to help participants connect, exchange ideas, and build lasting collaborations.\n<br><br>' +
            'This informal gathering will feature a series of interactive activities and icebreakers to encourage participants to get to know one another, discuss their research interests, and foster new collaborations across institutions and research areas.\n' +
            'Whether you are attending IWAENC for the first time or returning to reconnect with colleagues, this is a great opportunity to expand your professional network and become part of the IWAENC student community.\n<br><br>' +
            'Students interested in participating are encouraged to register using the sign-up form. Additional information about the venue and the planned activities will be provided further ahead.',
          icon: 'tabler:users',
      },
    ]}
    image={{
      src: '~/assets/images/cremona-campus.jpeg',
      alt: 'Cremona campus.',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Tuesday, Sept. 8<br>
      </h3>
    </Fragment>

      <Fragment slot="bg">
          <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
  </Content>


</Layout>
